<%- include ('partials/header') %>

<div class="photography">
  <div class="row">


    <div class="box">

      <% freelancers.forEach(function(graphicDesigner){ %>
         <a href='/freelancer/<%= graphicDesigner._id %>/profile'>
            <div class="card">
              <div class="imgBx">
                  <img src="<%= graphicDesigner.picture %>" alt="images">
              </div>
              <div class="details">
                  <h2><%= graphicDesigner.freelancerName %> <%= graphicDesigner.freelancerSurname %><br><span><%= graphicDesigner.location %></span></h2>
                  <p>Speciality: <%= graphicDesigner.specialty %></p>
              </div>
            </div>
            </a>
      <% }); %>
 
  </div>



  </div>
</div>

<%- include ('partials/footer') %>