<%- include ("partials/header") %>

<div class="photography">
  <div class="row">


    <div class="box">

      <% freelancers.forEach(function(photographer){ %>
         <a href='/freelancer/<%= photographer._id %>/profile'>
            <div class="card">
              <div class="imgBx">
                  <img src="<%= photographer.picture %>" alt="images">
              </div>
              <div class="details">
                  <h2><%= photographer.freelancerName %> <%= photographer.freelancerSurname %><br><span><%= photographer.location %></span></h2>
                  <p>Speciality: <%= photographer.specialty %></p>
              </div>
            </div>
            </a>
      <% }); %>
      </div>
  </div>
</div>

<%- include ("partials/footer") %>