<%- include ("partials/header") %>

<div class="photography">
  <div class="row">


    <div class="box">

      <% freelancers.forEach(function(photographer){ %>
         <a href='/freelancer/<%= photographer._id %>/profile'>
            <div class="card">
              <div class="imgBx">
                  <img src="<%= photographer.picture %>" alt="images">
              </div>
              <div class="details">
                  <h2><%= photographer.freelancerName %> <%= photographer.freelancerSurname %><br><span><%= photographer.location %></span></h2>
                  <p>Speciality: <%= photographer.jobTitle %></p>
              </div>
            </div>
            </a>
      <% }); %>

      <!-- <a href='/freelancer/id/profile'>
      <div class="card">
        <div class="imgBx">
            <img src="https://images.unsplash.com/photo-1507003211169-0a1dd7228f2d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" alt="images">
        </div>
        <div class="details">
            <h2>Peter Labuschagne<br><span>Barcelona, Spain</span></h2>
            <p>Speciality: Weddings</p>
        </div>
      </div>
      </a> -->

      <!-- <a href='#'>
      <div class="card">
        <div class="imgBx">
           <img src="https://images.unsplash.com/photo-1534455700361-eca9c3dbc981?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="images">
        </div>
        <div class="details">
           <h2>Justin Coomber<br><span>Sydney, Australia</span></h2>
           <p>Speciality: Wildlife</p>
         </div>
      </div>
      </a> -->
<!--     
      <a href='#'>
       <div class="card">
         <div class="imgBx">
            <img src="https://images.unsplash.com/photo-1560787313-5dff3307e257?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="images">
         </div>
         <div class="details">
            <h2>Devon de Klerk<br><span>Cape Town, South Africa</span></h2>
            <p>Speciality: Sports</p>
          </div>
       </div>
      </a> -->

       <!-- <a href='#'>
       <div class="card">
         <div class="imgBx">
            <img src="https://images.unsplash.com/photo-1512813498716-3e640fed3f39?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="images">
         </div>
         <div class="details">
            <h2>Anel Visser<br><span>Orlando, Florida</span></h2>
            <p>Speciality: Business</p>
          </div>
       </div>
      </a> -->

       <!-- <a href='#'>
       <div class="card">
         <div class="imgBx">
            <img src="https://images.unsplash.com/photo-1493863641943-9b68992a8d07?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="images">
         </div>
         <div class="details">
            <h2>Leo Muza<br><span>Manhattan, New-york</span></h2>
            <p>Speciality: action/adventure</p>
          </div>
       </div>
      </a> -->

       <!-- <a href='#'>
       <div class="card">
         <div class="imgBx">
            <img src="https://images.unsplash.com/photo-1473433657392-e7e31b785bc2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="images">
         </div>
         <div class="details">
            <h2>Pierre Nortje<br><span>Munich, Germany</span></h2>
            <p>Speciality: Weddings</p>
          </div>
       </div>
      </a> -->

       <!-- <a href='#'>
       <div class="card">
         <div class="imgBx">
            <img src="https://images.unsplash.com/photo-1554151228-14d9def656e4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="images">
         </div>
         <div class="details">
            <h2>Mia Labuschagne<br><span>Rio de Janeiro</span></h2>
            <p>Speciality: Architecture</p>
          </div>
       </div>
      </a> -->
<!-- 
       <a href='#'>
       <div class="card">
         <div class="imgBx">
            <img src="https://images.unsplash.com/photo-1549068106-b024baf5062d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="images">
         </div>
         <div class="details">
            <h2>Joshua Bukuru<br><span>Pretoria, South Africa</span></h2>
            <p>Speciality: Fashion</p>
          </div>
       </div>
      </a> -->

       <!-- <a href='#'>
       <div class="card">
         <div class="imgBx">
            <img src="https://images.unsplash.com/photo-1565260524775-7e9b536fba2f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="images">
         </div>
         <div class="details">
            <h2>Kelly Lezar<br><span>Paris, France</span></h2>
            <p>Speciality: Travel</p>
          </div>
       </div>
      </a> -->
 
  </div>



  </div>
</div>

<%- include ("partials/footer") %>