<%- include('../partials/header') %>

<div class='editProfile'>



  <div id='editProfile'>
    <h3 id='editProfileTitle'>Update your profile</h3>

    <form action='/freelancer/<%= freelancer._id %>/profile?_method=PUT' method='POST'>

    <div class='editProfileInputs'>
      <input class='createProfileInput' type='text' name='freelancer[freelancerName]' value='<%= freelancer.freelancerName %>'>
      <input class='createProfileInput' type='text' name='freelancer[freelancerSurname]' value='<%= freelancer.freelancerSurname %>'>
    </div>

    <div class='editProfileInputs'>
      <input class='createProfileInput' type='text' name='freelancer[location]' value='<%= freelancer.location %>'>
      <input class='createProfileInput' id='profilePic' type='text' name='freelancer[picture]' value='<%= freelancer.picture %>'>
    </div>

    <div class='editProfileInputs'>
      <input class='createProfileInput' type='text' name='freelancer[specialty]' value='<%= freelancer.specialty%>'>
      <input class='createProfileInput' id='profilePic' type='text' name='freelancer[industry]' value='<%= freelancer.industry %>'>
    </div>

    <div class='editProfileInputs'>
      <input class='createProfileInput' type='text' name='freelancer[link1]' value='<%= freelancer.link1 %>'>
      <input class='createProfileInput' id='profilePic' type='freelancer[link2]' name='picture' value='<%= freelancer.link2 %>'>
    </div>

    <!-- <div class='editProfileInputs'>
      <textarea class='createProfileInput' type='text' name='freelancer[about]' value='<%= freelancer.about %>'></textarea>
      <textarea class='createProfileInput' id='profilePic' type='text' name='freelancer[tools]' value='<%= freelancer.tools %>'></textarea>
    </div> -->





    <div class='freelancerExtraInputs'>
    <button class='btn btn-light btn-sm'>Submit!</button>
  </div>

  </div>
</form>




</div>

<%- include('../partials/footer') %>