<%- include ('../partials/header') %>

<div class='profile-page'>

	<div class='container-fluid'>
	</div>

	<div class="card">
		<div class="card-body">
			<img class='user-icon' src='<%= freelancer.picture %>'>
			<h3 class='profile-card-title'><%= freelancer.freelancerName %><%= freelancer.freelancerSurname %></h3>
			<h6 class="profile-card-job-description"><%= freelancer.specialty %> <%= freelancer.industry %></h6>
			<h6 class="profile-card-residence">	<i class="fas fa-map-marker-alt"></i><%= freelancer.location %></h6>
			<p class='profile-card-bio'><%= freelancer.about %> </p>
				<a href="<%= freelancer.website %>" class="profile-card-website"><%= freelancer.website %></a>
			<!-- <a href="<%= freelancer.instagram %>" class="profile-card-insta"><%= freelancer.freelancerName %><%= freelancer.freelancerSurname %></a> -->
		</div>
	</div>

	<div class='projects'>
		<h5>Projects</h5>
		<div class='row'>
			<div class='col-lg-6'>
				<a href='#'><img class='img-fluid' src='https://images.unsplash.com/photo-1546550879-3b71f2427ae0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60'>
					<p class='text'>Hi There here is some info</p>
				</a>
			</div>
			<div class='col-lg-6'> 
				<a href='#'><img class='img-fluid' src='https://images.unsplash.com/photo-1595007456829-a2894b728e58?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60'>
					<p class='text'>Hi There here is some info</p>
				</a>
			</div>
			<div class='col-lg-6'>
				<a href='#'><img class='img-fluid' src='https://images.unsplash.com/photo-1529854140025-25995121f16f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60'>
					<p class='text'>Hi There here is some info</p>
				</a>
			</div>
			<div class='col-lg-6'>
				<a href='#'><img class='img-fluid' src='https://images.unsplash.com/photo-1494253109108-2e30c049369b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60'>
					<p class='text'>Hi There here is some info</p></a>
			</div>
			<div class='col-lg-6'>
				<a href='#'><img class='img-fluid' src='https://images.unsplash.com/photo-1513542789411-b6a5d4f31634?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60'>
					<p class='text'>Hi There here is some info</p></a>
			</div>
			<div class='col-lg-6'>
				<a href='#'><img class='img-fluid' src='https://images.unsplash.com/photo-1556869501-7c58314fc405?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60'>
					<p class='text'>Hi There here is some info</p></a>
			</div>
			<div class='col-lg-6'>
				<a href='#'><img class='img-fluid' src='https://images.unsplash.com/photo-1497864149936-d3163f0c0f4b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60'>
					<p class='text'>Hi There here is some info</p></a>
			</div>
			<div class='col-lg-6'>
				<a href='#'><img class='img-fluid' src='https://images.unsplash.com/photo-1508014924734-d75124b0f402?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60'>
					<p class='text'>Hi There here is some info</p></a>
			</div>
		</div>
	</div>

</div>

<!-- <div class="container-fluid">
	<div class="col-md-12">
		<div class="row">
			<div class="gal"> -->
				


<%- include ('../partials/footer') %>