<%- include ('../partials/header') %>

<div class='profile-page'>

	<div class='container-fluid'>
	</div>

	<div class="card">
		<div class="card-body">
			<img class='user-icon' src='<%= freelancer.picture %>'>
			<h3 class='profile-card-title'><%= freelancer.freelancerName %><%= freelancer.freelancerSurname %></h3>
			<h6 class="profile-card-job-description"><%= freelancer.specialty %> <%= freelancer.industry %></h6>
			<h6 class="profile-card-residence">	<i class="fas fa-map-marker-alt"></i><%= freelancer.location %></h6>
			<p class='profile-card-bio'><%= freelancer.about %> </p>
				<a href="<%= freelancer.link1 %>" class="profile-card-website"><%= freelancer.freelancerName %><%= freelancer.freelancerSurname %>.com</a>
			<a href="<%= freelancer.link2 %>" class="profile-card-insta"><%= freelancer.freelancerName %><%= freelancer.freelancerSurname %></a>
			<p> ---------------------------------------</p>
			<pre class='toolsUsed'><%= freelancer.tools %></pre>
		</div>
	</div>

	<div class='projects'>
		<h5>Projects</h5>
		<div class='row'>
			<% freelancer.projects.forEach(function(project){ %>
				<div class='col-lg-6'>
				<a href='/'><img class='img-fluid' id='projectImage' src='<%= project.image %>'>
					<div class='text'>
						<p class='projectCaption'><%= project.title %></p>
						<p class='projectDateAdded'><%= project.date %></p>
					</div>
				</a>
			</div>
			<% }); %>
			<% if(currentUser){ %>
			<a href='/freelancer/<%= freelancer._id %>/profile/project'>
				<Button>Add Project!</Button>
			</a>
			<% } %>
		</div>
	</div>

</div>

				


<%- include ('../partials/footer') %>