<%- include ('../partials/header')  %>

<div class="projectsShowPage">

  <div class='container-fluid'>
    <section class='projectHeadingSection'>
      <h1 class='projectHeading'><%= project.title %></h1>
      <h4 class='projectSubtitle'>A night in the life of the wildlife and some more info. This was so rad</h4>
    </section>
    <section  class='projectMainPictureSection'>
      <div class="container">
        <img class='img-fluid pic1' id='pic1' src='<%= project.image %>'>
      </div>
    </section>
    <section  class='projectpicturesSection'>
      <div class="container">
        <!-- <div class="container-fluid"> -->
          <div class="col-md-12">
            <div class="row">
              <div class="gal">
                <div class='col-md-3 col-sm-6'>
                  <img class='img-fluid' id='pic2' src='/stylesheets/imgs/test3.png'>
                </div>
                <div class='col-md-3 col-sm-6'>
                  <img class='img-fluid' id='pic2' src='/stylesheets/imgs/test4.png'>
                </div>
                <div class='col-md-3 col-sm-6'>
                  <img class='img-fluid' id='pic2' src='/stylesheets/imgs/test5.png'>
                </div>
                <div class='col-md-3 col-sm-6'>
                  <img class='img-fluid' id='pic2' src='/stylesheets/imgs/test7.png'>
                </div>
              </div>
            </div>
          </div>
        </div>
    </section>
    <section class='ProjectInfoSection'>
      <div class='container'>
      <p class='projectInfo'>A completely spontaneous trip! My friends and I were keen on doing something on Saturday and so on Friday evening
        we decided to make a mission the following day. It was an absolutely stunning day and the scenery was on point.
        We went in a friends van which(he is a classic car collector) and headed for the mountains. On our way we made a stop
        at the Berg River Dam and Mont Rochelle for an ending. Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
        Temporibus ipsa qui molestiae sed rerum minus illo odit nostrum, officiis debitis tenetur nobis ipsum nulla! Saepe 
        maiores incidunt at tempora labore? Veritatis amet quidem et voluptatum nobis explicabo ullam voluptates, officiis
        repellendus facere nulla atque nam in, ad iusto magnam eveniet? Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
        Quia dolore neque amet fugiat id natus, totam cupiditate beatae officiis odio mollitia, ullam alias ducimus facilis 
        dolor dolorum aperiam vitae maxime excepturi, labore omnis dicta itaque obcaecati voluptas? Cupiditate, placeat. 
        Eum, nesciunt porro. Nemo doloremque minus laborum numquam unde ipsum quia et possimus expedita minima? 
        Autem facere officiis dolorum iste exercitationem eos reiciendis optio commodi pariatur! Consequuntur neque cumque 
        cum qui. Quas, provident? In rerum commodi eaque aliquid, ipsa aperiam vero quo a, ut ab saepe quod qui tempore cum 
        nobis! Atque repellat pariatur aliquam quibusdam eveniet velit, ipsa voluptas earum! Lorem ipsum dolor sit amet consectetur 
        adipisicing elit. Debitis, ullam tenetur quam tempore mollitia laborum vero quas, rerum expedita nam modi atque labore, 
        officia temporibus laboriosam repudiandae! Vel quo molestias dolore modi tenetur quidem pariatur ad delectus voluptas 
        veritatis mollitia accusantium quisquam necessitatibus atque ullam repellat voluptatum perferendis, nemo 
        voluptatem voluptate quibusdam rerum aspernatur? Minima reprehenderit nostrum suscipit sit debitis pariatur culpa 
        consectetur amet asperiores ea! Dolores vitae error asperiores quis facere aspernatur ipsam deserunt consequatur 
        aperiam, architecto minus, dignissimos, et atque. Nisi nesciunt error illum, voluptas architecto alias consequatur rem, 
        similique ea modi a earum consectetur possimus magni! Reiciendis!
      </p>
    </div>
    </section>
    <section class='projectMorePictures'>
      <div class='container'>
        <div class='col-md-6'>
        <img class='morePictures' src='/stylesheets/imgs/test8.png'>
        <img class='morePictures' src='/stylesheets/imgs/test9.png'>
        </div>
        <div class='col-md-6'>
          <img class='morePictures' src='/stylesheets/imgs/test10.png'>
          <img class='morePictures' src='/stylesheets/imgs/test11.png'>
          </div>
      </div>
    </section>
    <section class='ProjectInfoSection'>
      <div class='container'>
      <p class='projectInfo'>A completely spontaneous trip! My friends and I were keen on doing something on Saturday and so on Friday evening
        we decided to make a mission the following day. It was an absolutely stunning day and the scenery was on point.
        We went in a friends van which(he is a classic car collector) and headed for the mountains. On our way we made a stop
        at the Berg River Dam and Mont Rochelle for an ending. Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
        Temporibus ipsa qui molestiae sed rerum minus illo odit nostrum, officiis debitis tenetur nobis ipsum nulla! Saepe 
        maiores incidunt at tempora labore? Veritatis amet quidem et voluptatum nobis explicabo ullam voluptates, officiis
        repellendus facere nulla atque nam in, ad iusto magnam eveniet? Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
        Quia dolore neque amet fugiat id natus, totam cupiditate beatae officiis odio mollitia, ullam alias ducimus facilis 
        dolor dolorum aperiam vitae maxime excepturi, labore omnis dicta itaque obcaecati voluptas? Cupiditate, placeat.
      </p>
    </div>
    </section>
    <section  class='projectMainPictureSection'>
      <div class="container">
        <img class='img-fluid pic1' id='pic1' src='/stylesheets/imgs/test13.png'>
      </div>
    </section>
    <section class='pictureGallery'>
      <div class='container'>
        <div class='col-md-4'>
        <img class='pictureGal' src='/stylesheets/imgs/test15.png'>
        <img class='pictureGal' src='/stylesheets/imgs/test16.png'>
        <img class='pictureGal' src='/stylesheets/imgs/test19.png'>
        </div>
        <div class='col-md-4'>
        <img class='pictureGal' src='/stylesheets/imgs/test21.png'>
        <img class='pictureGal' src='/stylesheets/imgs/test23.png'>
        <img class='pictureGal' src='/stylesheets/imgs/test24.png'>
        </div>
      </div>
      </div>
    </section>
  </div>
  
</div>


<!-- <img class='img-fluid' id='projectImage' src='<%= project.image %>'>
<img class='img-fluid' id='projectImage' src='<%= project.image1 %>'> -->

<%- include ('../partials/footer')  %>